h1 {text-align: center;}
h2 { text-align: center;}
input {width: 700px;
height: 40px; font-size: 30px;}
#Left {position: absolute; 
	top:  0;
	left: 0;
	margin: 20px;
	word-spacing: 15px;
}
#Button {text-align: center;
	line-height: 20px;
}
#Right {position: absolute; 
	top:  0;
	right: 0;
	word-spacing: 15px;
}